/* 
table{
    text-align: center;
  }
  
  .Btones button{
    color: aliceblue;  
    margin-left: 50px;
    margin-right: 50px;
  } */

body{
    background-color: #060606;
    color: aliceblue;
}

.container{
    width: 100%;
    text-align: center;
}

input{
    width: 80%;
    
}

.icon{
    background-color: aqua;
}

    